.profile {
  display: block;
  padding: 200px 0 80px;
}

.profileOff {
  display: none;
}

.profileInner {
  padding: 40px 0;
  height: 705px;
}

.profileInnerUserChara {
  position: relative;
  color: $color;
}

.profileInnerUserInfo {
  margin-bottom: 20px;
}

.profileInnerUserInfoObv {
  position: relative;
  display: flex;
  gap: 24px;
  padding: 32px;
}

.profileInnerUserInfoBack {
  position: absolute;
  inset: 0;
}

.profileInnerUserInfoTxt {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  z-index: 10;
}

.profileInnerUserInfoRank {
}

.profileInnerUserInfoImg {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  stroke-width: 3px;
  aspect-ratio: 1/1;
  stroke: #0064ff;
  border: solid 2px #0064ff;
  filter: drop-shadow(0 0 16px #0064ff);
}

.profileInnerUserInfoAvatarEff {
  position: relative;
  display: flex;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profileInnerUserInfoTitle {
  color: $color;
  text-align: center;
  font-size: 28px;
}

.profileInnerUserInfoRank {
  display: flex;
  align-items: center;
  gap: 7px;
  text-align: center;
  color: #c5c5c5;
}

.profileInnerHeader {
  display: flex;
  gap: 59px;
  height: 177px;
}

.profileInnerHeaderList {
  padding: 12px 0;
  width: 220px;
  border-radius: 16px;
  background: #031843;
  color: $color;
}

.profileInnerHeaderListItem {
  cursor: pointer;
  position: relative;
  padding: 16px;
  border-right: 2px solid #017fff;
  background: linear-gradient(270deg, rgba(80, 149, 255, 0.3) 0%, rgba(80, 149, 255, 0) 100%);
  transition: all 0.4s;
}

.profileInnerHeaderListItemOff {
  cursor: pointer;
  position: relative;
  padding: 16px;
  background: transparent;
  transition: all 0.4s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    opacity: 1;
    height: 100%;
    background: linear-gradient(270deg, rgba(80, 149, 255, 0.3) 0%, rgba(80, 149, 255, 0) 100%);
    z-index: 1;
    transition: all 0.4s;
  }

  &:hover {
    &::after {
      border-right: 2px solid #017fff;
      width: 100%;
      transition: all 0.4s;
    }
  }
}

.profileInnerHeaderGroups {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 900px;
}

.profileInnerHeaderInfo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 800px;
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  transition: all 0.4s;
}

.profileInnerHeaderInfoDis {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.4s;
}

.profileInnerHeaderInfo1Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileInnerHeaderInfo1NavTitle {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: $color;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.profileInnerHeaderInfo1NavList {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.profileInnerHeaderInfo1NavListItemBtnActive {
  cursor: pointer;
  padding: 10px;
  color: $color;
  text-align: center;
  font-family: $poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.32px;
  border-radius: 4px;
  background-color: #017fff;
  transition: all 0.4s;
}

.profileInnerHeaderInfo1NavListItemBtn {
  cursor: pointer;
  padding: 10px;
  color: $color;
  text-align: center;
  font-family: $poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.32px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.4s;

  &:hover {
    background-color: #017fff;
    transition: all 0.4s;
  }
}

.profileInnerHeaderInfo1Total {
  display: flex;
  width: 100%;
}

// Title
.profileInnerHeaderInfo1TotalStatTitle,
.profileInnerHeaderInfo1TotalStatGroup1DetailTitle,
.profileInnerEconomyTitle,
.profileInnerTotalMatchesАverageTitle,
.profileInnerTotalMatchesAchievementTitle {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.32px;
}

.profileInnerHeaderInfo1TotalStat {
  width: 100%;
}

.profileInnerHeaderInfo1TotalStatGroup {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.profileInnerHeaderInfo1TotalStatGroup1TotalMeaning {
  margin-bottom: 30px;
}

.profileInnerHeaderInfo1TotalStatList {
  display: flex;
  gap: 24px;
}

.profileInnerHeaderInfo1TotalStatListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 258px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  background:
    radial-gradient(64.8% 53.19% at 20.3% 29.12%, rgba(35, 53, 221, 0.5) 0%, rgba(0, 12, 101, 0) 100%),
    linear-gradient(36deg, rgba(0, 34, 255, 0) 43.41%, rgba(0, 34, 255, 0.2) 90.92%),
    linear-gradient(303deg, rgba(255, 255, 255, 0.05) 16.73%, rgba(255, 255, 255, 0) 131.77%);
}

.profileInnerHeaderInfo1TotalStatListItemImg {
  width: 56px;
  height: 56px;
}

.profileInnerHeaderInfo1TotalStatListItemTitle {
  font-family: $montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.profileInnerHeaderInfo1TotalStatListItemSub {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
  text-transform: uppercase;
}
.profileInnerHeaderInfo1TotalStatGroup1Detail {
  margin-bottom: 32px;
}

.profileInnerHeaderInfo1TotalStatGroup1DetailTitle {
  margin-bottom: 16px;
}

.profileInnerHeaderInfo1TotalStatListDet {
  display: flex;
  gap: 24px;
  align-items: start;
}

.profileInnerHeaderInfo1TotalStatListItemDet {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 258px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  background:
    radial-gradient(64.8% 53.19% at 20.3% 29.12%, rgba(35, 53, 221, 0.5) 0%, rgba(0, 12, 101, 0) 100%),
    linear-gradient(36deg, rgba(0, 34, 255, 0) 43.41%, rgba(0, 34, 255, 0.2) 90.92%),
    linear-gradient(303deg, rgba(255, 255, 255, 0.05) 16.73%, rgba(255, 255, 255, 0) 131.77%);
}

.profileInnerHeaderInfo1TotalStatListItemHed,
.profileInnerTotalMatchesАverageListItemHed {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profileInnerHeaderInfo1TotalStatListItemImgDet {
  width: 24px;
  height: 24px;
}

.profileInnerHeaderInfo1TotalStatListItemTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.profileInnerHeaderInfo1TotalStatListItemSubDet {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  text-transform: uppercase;
}

.profileInnerEconomyListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileInnerEconomyListItemHeads {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 250px;
}

.profileInnerEconomyListItemHeadsImg,
.profileInnerTotalMatchesАverageListItemHedImg {
  width: 32px;
  height: 32px;
}

.profileInnerEconomyListItemHeadsTitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
}

.profileInnerEconomyListItemBack,
.profileInnerTotalMatchesАverageListItemBack {
  position: relative;
  width: 500px;
  height: 12px;
  border-radius: 12px;
  background: #030716;
}

.profileInnerTotalMatchesАverageListItemBack {
  width: 458px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 12px;
    width: calc(var(--valueMax) * 1%);
    background:
      radial-gradient(69.25% 69.32% at 47.35% 93.75%, rgba(255, 255, 255, 0.4) 0%, rgba(11, 49, 143, 0) 100%),
      radial-gradient(73.64% 50.63% at 50% 50%, #3575ff 19.71%, #002987 100%);
    border-radius: 12px;
    transition: all 0.4s;
  }
}

.profileInnerEconomyListItemBackStroke {
  position: relative;
  height: 12px;
  width: calc(var(--value) * 1%);
  background:
    radial-gradient(69.25% 69.32% at 47.35% 93.75%, rgba(255, 255, 255, 0.4) 0%, rgba(11, 49, 143, 0) 100%),
    radial-gradient(73.64% 50.63% at 50% 50%, #3575ff 19.71%, #002987 100%);
  border-radius: 12px;
  transition: all 0.4s;

  ::before {
    content: "";
    position: absolute;
    top: 0;
    height: 12px;
    border-radius: 12px;

    z-index: -1;
    transition: all 0.4s;
  }
}

.profileInnerEconomyListItemBackStrokeInfo {
  position: absolute;
  top: 0;
  right: calc(var(--value) px);
  color: #c5c5c5;
  font-size: 10px;
  padding: 0 10px 0;
  z-index: 2;
}

.profileInnerEconomyListItemSubGold,
.profileInnerEconomyListItemSubDMG,
.profileInnerEconomyListItemSubTurDMG {
  width: 50px;
  text-align: right;
}

.profileInnerEconomyListItemSubGold {
  color: gold;
}

.profileInnerEconomyListItemSubTurDMG {
  color: red;
}

.profileInnerTotalMatchesАverageTitle {
  margin-bottom: 16px;
}

.profileInnerTotalMatchesАverageList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 450px;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background:
    radial-gradient(64.8% 53.19% at 20.3% 29.12%, rgba(35, 53, 221, 0.5) 0%, rgba(0, 12, 101, 0) 100%),
    linear-gradient(36deg, rgba(0, 34, 255, 0) 43.41%, rgba(0, 34, 255, 0.2) 90.92%),
    linear-gradient(303deg, rgba(255, 255, 255, 0.05) 16.73%, rgba(255, 255, 255, 0) 131.77%);

  /* shadow/card */
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.05) inset;
  backdrop-filter: blur(1px);
  margin-bottom: 20px;
}

.profileInnerTotalMatchesАverageListItemHed {
  display: flex;
  justify-content: space-between;
}

.profileInnerTotalMatchesAchievementListItemHead {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profileInnerTotalMatchesAchievementListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background:
    radial-gradient(64.8% 53.19% at 20.3% 29.12%, rgba(35, 53, 221, 0.5) 0%, rgba(0, 12, 101, 0) 100%),
    linear-gradient(36deg, rgba(0, 34, 255, 0) 43.41%, rgba(0, 34, 255, 0.2) 90.92%),
    linear-gradient(303deg, rgba(255, 255, 255, 0.05) 16.73%, rgba(255, 255, 255, 0) 131.77%);

  /* shadow/card */
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.05) inset;
  backdrop-filter: blur(1px);
  margin-bottom: 20px;
}

.profileInnerTotalMatchesAchievementList {
  overflow-y: scroll;
  height: 250px;
}

.profileInnerTotalMatchesAchievementListItemHeadTitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}

.profileInnerTotalMatchesAchievementListItemSub {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}

.profileInnerTotalMatchesAchievementListItemHeadImg {
  width: 48px;
  height: 48px;
}

.profileInnerHeaderInfo2Nav,
.profileInnerHeaderInfo3Nav {
  font-size: 90px;
  color: red;
}