.profile {
  display: block;
  padding: 200px 0 80px;
}

.profileOff {
  display: none;
}

.profileInner {
  padding: 40px 0;
}

.profileInner {
  display: flex;
  gap: 80px;
}

.profileInnerUserInfo,
.profileInnerUserChara {
  color: $color;
}

.profileInnerUserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profileInnerUserInfoTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: left;
}

.profileInnerUserInfoImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profileInnerUserInfoAvatarEff {
  position: relative;
  display: flex;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profileInnerUserInfoAvatarEff1 {
  position: absolute;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  box-shadow:
    7px -2px 10px blue,
    0px -4px 10px red,
    -3px 3px 10px violet;
  transition: all 0.4s;
  animation: eff 3s infinite forwards;

  &:hover {
    box-shadow:
      7px -2px 20px blue,
      0px -4px 20px red,
      -3px 3px 20px violet;
    transition: all 0.4s;
  }
}

// 7px -2px 10px blue,
//  0px -4px 10px red,
//  -3px 3px 10px violet;

@keyframes eff {
  0% {
    transform: rotate(90deg);
    box-shadow:
      7px -2px 10px blue,
      0px -4px 10px red,
      -3px 3px 10px violet;
  }
  50% {
    transform: rotate(90deg);
    box-shadow:
      -3px 3px 13px blue,
      7px -2px 13px red,
      0px -4px 13px violet;
  }
  75% {
    transform: rotate(90deg);
    box-shadow:
      0px -4px 13px blue,
      -3px 3px 13px red,
      7px -2px 13px violet;
  }
  100% {
    transform: rotate(90deg);
    box-shadow:
      7px -2px 10px blue,
      0px -4px 10px red,
      -3px 3px 10px violet;
  }
}

.profileInnerUserInfoTitle {
  color: $color;
  text-align: center;
  font-size: 20px;
}

.profileInnerUserInfoRank {
  text-align: center;
  color: #c4c4c4;
}

.profileInnerUserCharaTitle {
  font-size: 25px;
  margin-bottom: 20px;
}

.profileInnerUserCharaImages {
  display: flex;
  gap: 30px;
}

.profileInnerUserCharaImg,
.profileInnerUserCharaImg1 {
  cursor: zoom-in;
  width: 600px;
  height: 300px;
  transform: scale(1);
  margin-bottom: 20px;
  transition: all 0.4s;
}

.profileInnerUserCharaImgZoom,
.profileInnerUserCharaImgZoom1 {
  cursor: zoom-out;
  position: relative;
  width: 600px;
  height: 300px;
  margin-bottom: 20px;
  transform: scale(2);
  filter: drop-shadow(0 0 5px #c4c4c4);
  z-index: 10;
  transition: all 0.4s;
}

.profileInnerUserCharaTitleHero {
  margin-bottom: 20px;
}

.profileInnerUserCharaList {
  display: flex;
  gap: 30px;
}

.profileInnerUserCharaListItem {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background:
    radial-gradient(64.8% 53.19% at 20.3% 29.12%, rgba(35, 53, 221, 0.5) 0%, rgba(0, 12, 101, 0) 100%),
    linear-gradient(36deg, rgba(0, 34, 255, 0) 43.41%, rgba(0, 34, 255, 0.2) 90.92%),
    linear-gradient(303deg, rgba(255, 255, 255, 0.05) 16.73%, rgba(255, 255, 255, 0) 131.77%);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.05) inset;
  backdrop-filter: blur(1px);
}
