.profile {
  display: block;
  padding: 200px 0 80px;
}

.profileOff {
  display: none;
}

.profileInner {
  padding: 40px 0;
}

.profileInner {
  display: flex;
  gap: 80px;
}

.profileInnerUserChara {
  position: relative;
  color: $color;
}

.profileInnerUserInfo {
  margin-bottom: 20px;
}

.profileInnerUserInfoObv {
  position: relative;
  display: flex;
  gap: 24px;
  padding: 32px;
}

.profileInnerUserInfoBack {
  position: absolute;
  inset: 0;
}

.profileInnerUserInfoTxt {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  z-index: 10;
}

.profileInnerUserInfoRank {
}

.profileInnerUserInfoImg {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  stroke-width: 3px;
  aspect-ratio: 1/1;
  stroke: #0064ff;
  border: solid 2px #0064ff;
  filter: drop-shadow(0 0 16px #0064ff);
}

.profileInnerUserInfoAvatarEff {
  position: relative;
  display: flex;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profileInnerUserInfoTitle {
  color: $color;
  text-align: center;
  font-size: 28px;
}

.profileInnerUserInfoRank {
  display: flex;
  align-items: center;
  gap: 7px;
  text-align: center;
  color: #c5c5c5;
}

.profileInnerHeader {
  display: flex;
  gap: 59px;
}

.profileInnerHeaderList {
  padding: 12px 0;
  width: 220px;
  border-radius: 16px;
  background: #031843;
  color: $color;
}

.profileInnerHeaderListItem {
  cursor: pointer;
  position: relative;
  padding: 16px;
  border-right: 2px solid #017fff;
  background: linear-gradient(270deg, rgba(80, 149, 255, 0.3) 0%, rgba(80, 149, 255, 0) 100%);
  transition: all 0.4s;
}

.profileInnerHeaderListItemOff {
  cursor: pointer;
  position: relative;
  padding: 16px;
  background: transparent;
  transition: all 0.4s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    opacity: 1;
    height: 100%;
    background: linear-gradient(270deg, rgba(80, 149, 255, 0.3) 0%, rgba(80, 149, 255, 0) 100%);
    z-index: 1;
    transition: all 0.4s;
  }

  &:hover {
    &::after {
      border-right: 2px solid #017fff;
      width: 100%;
      transition: all 0.4s;
    }
  }
}

.profileInnerHeaderInfoNav {
  color: $color;
}
