.errorPage {
  padding: 130px 0 80px;
}

.errorPageInner {
  position: relative;
}

.errorPageInnerBack {
  width: 100%;
}

.errorPageInnerBackMob {
  display: none;
}

.errorPageInnerCont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1108px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $color;
  z-index: 100;
}

.errorPageInnerContTitle {
  @include titleSection;
}
.errorPageInnerContSub {
  @include subSection;
  margin-bottom: 24px;
}

.errorPageInnerContLink {
  @include btn;
}

@media screen and (max-width: 560px) {
  .errorPage {
    padding: 100px 0 0;
  }
  .errorPageInnerCont,
  .errorPageInnerContSub {
    width: 100%;
  }

  .errorPageInnerContTitle {
    font-size: 40px;
    width: 350px;
  }
  .errorPageInnerContSub {
    font-size: 16px;
    width: 350px;
  }
  .errorPageInnerBack {
    display: none;
    width: 100%;
  }

  .errorPageInnerBackMob {
    display: block;
    width: 100%;
    height: 100%;
  }
}
