@media screen and (max-width: 580px) {
  .header {
    position: fixed;
    padding: 24px 0 16px 0;
    align-items: center;
    width: 106%;
  }

  .nav {
    padding: 0 5px;
    width: 90%;
  }

  .navLogoLink {
    position: relative;
    z-index: 100;
  }

  .menu {
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    visibility: visible;
    transition: all 0.4s;
  }

  .menuActive {
    position: relative;
    display: flex;
    gap: 7px;
    flex-direction: column;
    width: 32px;
    height: 32px;
    transition: all 0.4s;
    z-index: 100;
  }

  .menuSpan1,
  .menuSpan2,
  .menuSpan3 {
    width: 100%;
    height: 2px;
    background-color: $color;
    transition: all 0.4s;
  }

  .menuActive {
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translateY(12px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-13px);
      }
    }
  }

  .navMenu {
    display: none;
    visibility: hidden;
  }

  .navMenuDis {
    position: absolute;
    top: 0;
    left: 0;
    padding: 90px 16px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transform: translateX(100%);
    background:
      radial-gradient(132.98% 132.99% at 52.67% 109.98%, rgba(0, 100, 255, 0.4) 0%, rgba(5, 4, 10, 0) 100%), #05040a;
    transition: all 0.4s;
  }

  .navMenuActive {
    position: absolute;
    padding: 90px 16px 0 16px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    transform: translateX(0%);
    background:
      radial-gradient(132.98% 132.99% at 52.67% 109.98%, rgba(0, 100, 255, 0.4) 0%, rgba(5, 4, 10, 0) 100%), #05040a;
    transition: all 0.4s;
  }

  .navMenuActiveDiv {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 570px;
  }

  .navMenuActiveLine {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90%;
    // margin: 0 auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    color: #c5c5c5;
    margin-bottom: 16px;
  }

  .navMenuActiveLineSpan {
    width: 100%;
    height: 1px;
    background-color: #3f426a;
  }

  .navMenuLineTitle {
    color: #c5c5c5;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
  }

  .navList {
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 48px;
  }

  .navLink {
    display: none;
    visibility: hidden;
  }
  .navCopyListMob {
    display: flex;
    gap: 27px;
    margin-bottom: 48px;
  }
  .autho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navIns {
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }

  .navLang {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    color: $color;
    margin-bottom: 55px;
  }

  .navLangBtnEn,
  .navLangBtnUa {
    @include langActive;
  }

  .navLangBtnUaDis,
  .navLangBtnEnDis {
    @include langDis;
  }

  .listLang {
    display: none;
    visibility: hidden;
  }

  .navActiveBtns {
    display: flex;
    width: 361px;
    gap: 10px;
    flex-direction: column;
  }

  .navActiveBtnsLinkInv,
  .authoLink {
    @include btn;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 361px;
    height: 64px;
    margin-bottom: 14px;
  }

  .navActiveBtnsLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 361px;
    height: 64px;
    text-align: center;
    border-radius: 32px;
    background-color: rgba($color: $color, $alpha: 0.1);
    transition: background-color color 0.4s;

    &:hover {
      background-color: rgba($color: $color, $alpha: 1);
      color: #000;
      transition: background-color color 0.4s;
    }
  }

  .navMenuActiveLine,
  .navCopyListMob,
  .navLang,
  .navMenuDis,
  .menu,
  .mySwiper,
  .progressInnerMapRoadMob,
  .progressInnerMapListMob,
  .navMenuActiveLineSpan,
  .footerCopySubMob,
  .footerCopyListMob,
  .mySwiper {
    visibility: visible;
  }

  .navMenuActiveLineSpan,
  .footerCopySubMobs,
  .progressInnerMapRoadMob {
    display: block;
  }

  .progressInnerMapListMob,
  .mySwiper {
    display: flex;
  }
}

@media screen and (max-width: 430px) {
  .navMenuActiveDiv {
    height: 960px;
  }
}

@media screen and (max-width: 390px) {
  .navMenuActiveDiv {
    height: 750px;
  }
}

@media screen and (max-width: 380px) and (max-height: 740px) {
  .navLang {
    margin-bottom: 5px;
  }
  .navMenuActive {
    padding: 130px 10px 0;
  }

  .navActiveBtns {
    width: 350px;
  }

  .navActiveBtnsLink,
  .navActiveBtnsLinkInv {
    width: 343px;
    height: 43px;
  }
  .workInnerListItemGroupImgStartZoom,
  .workInnerListItemGroupImgNextZoom,
  .workInnerListItemGroupImgEndZoom {
    width: 353px;
    height: 88px;
    left: -7%;
  }

  .progressInnerMapRoadMob {
    position: relative;
    left: -10%;
  }

  .progressInnerMapListMob {
    right: 22%;
  }

  .navMenuActive {
    padding: 84px 10px 0;
  }
}

@media screen and (max-width: 375px) {
  .navMenuActiveDiv {
    height: 580px;
  }
}

@media screen and (max-width: 360px) {
  .navMenuActiveDiv {
    height: 650px;
  }
}

@media screen and (max-width: 346px) {
  .nav {
    padding: 0 5px;
    width: 93%;
  }

  .navMenuActiveDiv {
    height: 770px;
  }

  .navActiveBtnsLink,
  .navActiveBtnsLinkInv {
    width: 300px;
    height: 50px;
  }
}
